QWidget{
    background-color: #2b1d0e;  /*  */ 
    margin-bottom:1px;
    margin-top:1px;
    padding: 2px;
    font-size:16px;
    }

QMessageBox {
    background-color: #CEBAA8;
}

QMessageBox QLabel {
    background-color: #CEBAA8;
    font-size: 16px;
    color: #333333;
}

QMessageBox QPushButton {
    background-color: #0d4733;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 0px;
}

QPushButton#help {
    background-color: #0d4733;
    color: #989898;
    border: 1px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right:4px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
}

QPushButton#gpu_help {
    background-color: #0d4733;
    color: #989898;
    border: 1px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right:4px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
}

QPushButton#help:hover {
    color:white;
    font-weight: bold;
}

QPushButton#gpu_help:hover {
    color:white;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #45a049;
}

QCheckBox{
    color: #989898; 
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    }

QCheckBox::hover{
            color: white;
            text-decoration: none;  
            }

QCheckBox::indicator {
    color:white;
    width: 20px;
    height: 20px;
}

QCheckBox::indicator:unchecked{
    color: black;
    background-color: #0d4733;
    }

QCheckBox::indicator:checked{
    color: black;
    background-color: #CEBAA8;
    image: url(../Resources/Images/checkmark.ico);
    }

QLineEdit{
    margin:0;
    font-weight: Medium; 
    background-color: #CEBAA8;
    border-style: solid;
}

QLineEdit::placeholder {
    color: gray;
    font-style: italic;
    }

QLabel{
    font-weight: Medium; 
    color: #989898; 
    margin-bottom: 0px;
    margin-top:20px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.0;
    padding:0;
}

QComboBox{                            
    margin:0;
    font-weight: Medium; 
    background-color: #CEBAA8;
    selection-background-color: #989898;
}

HoverLabel{margin-top:20px;}

QComboBox::drop-down{
    background-color: #CEBAA8;
}

QListView
{
background-color : white;
}

HoverButton {
        background-color:#0d4733; 
        color: #989898;
        margin-top:0
    }

#logo { 
        background-image: url("../Resources/Images/weka_small.jpg");background-repeat: no-repeat;
        background-position: top center;
        background-color: #0d4733;;
        font-weight: Medium;
        font-size: 20px;
        color: white;
        margin-top:0;
        padding-top: 135px;
        padding-bottom: 0px;
        font-family: TimesNewRoman, Times New Roman, Times, Georgia, serif;
        }

#title {
    margin:0px;
    font-size:18pt;  
    color: white; 
    font-weight: Bold; 
    font-family: TimesNewRoman, Times New Roman, Times;
    }

#info_label {
    font-weight: Medium; 
    color: #989898;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding:0px;
    }
